{% extends 'base.html.twig' %}
{% block title %} Ifide - Calendrier List {% endblock %}
{% block body %}
    <h1>Bookings list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Beginat</th>
                <th>Endat</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td><a href="{{ path('booking_show', { 'id': booking.id }) }}">{{ booking.id }}</a></td>
                <td>{% if booking.beginAt %}{{ booking.beginAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if booking.endAt %}{{ booking.endAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ booking.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('booking_show', { 'id': booking.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('booking_edit', { 'id': booking.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('booking_new') }}">Create a new booking</a>
        </li>
    </ul>
{% endblock %}
