<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Ifide - Calendrier</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JS Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{asset('css/bootstrap/css/bootstrap.css')}}">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{{asset('css/component.css')}}">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"></script>
        <script src="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"></script>
    {% endblock %}

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header text-center">
            <img src="{{asset('images/ifide_Logo.png')}}" alt="Logo Ifide">
        </div>
        {#Todo: Add Translation Key#}
        <ul class="list-unstyled components">
            {#Todo: Add class Active#}
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-calendar-alt"></i> Planning</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="{{ path('booking_calendar') }}"><i class="fa fa-calendar"></i> Voir le calendrier</a>
                    </li>
                    <li>
                        <a href="{{ path('booking_new') }}"><i class="fa fa-calendar-plus"></i> Créer un cours</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{path('admin_index')}}"><i class="fas fa-unlock"></i>  Admin</a>
            </li>
            <li>
                <a href="{{ path('professor_show') }}"><i class="fas fa-user"></i>  Professeur</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a {% if is_granted("ROLE_ADMIN") %}href="{{ asset('pdf/doc_admin.pdf') }}"{% else %} href="{{ asset('pdf/doc_prof.pdf') }}"  {% endif %} target="_blank" class="download">Documentation</a>
                {#Todo:Pop-over JS avec différentes documentation en fonction du rôles#}
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}" class="article"><i class="fa fa-sign-out-alt"></i>Deconnexion</a>
                {#Todo: Pop-over JS avec les différentes façon de contacter (Voir un systéme de message mail)#}
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="btn btn-info mb-4">
            <i class="fas fa-align-left"></i>
            <span>Masquer la barre de navigation</span>
        </button>
        <a type="button" id="sidebarCollapse" href="{{ path('admin_create') }}" class="btn btn-info mb-4">
            <i class="fas fa-align-left"></i>
            <span>Créer un utilisateur</span>
        </a>
        <a type="button" id="sidebarCollapse" href="{{ path('group_create') }}" class="btn btn-info mb-4">
            <i class="fas fa-align-left"></i>
            <span>Créer un groupe</span>
        </a>
        {% for flashMessage in app.session.flashbag.get('success') %}
            {{ flashMessage }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            {{ flashMessage }}
        {% endfor %}
        <div class="row">
            <div class="col-12">
                {% block body %}
                    <br>
                    <h2>Liste des Utilisateurs</h2>
                    <br>
                    <table id="table" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Groupe</th>
                            <th scope="col">Rôles</th>
                            <th scope="col">Edition</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr class="clickable-row">
                                <th scope="row">{{ user.username }}</th>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% for group in user.group %}
                                        {{ group.name }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for role in user.roles %}
                                        {{ role }}
                                        {% if not loop.last %}
                                            ;
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td><a href="{{ path('admin_edit', {'user': user.id}) }}"><button class="btn btn-info"><i class="fa fa-edit"></i></button></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <h2>Liste des groupes</h2>
                    <br>
                    <table id="table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Nom du groupe</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for group in groups %}
                            <tr class="clickable-row" data-href="{{ path('group_edit', {'group': group.id}) }}">
                                <td scope="row">{{ group.name }}</td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endblock %}
            </div>
        </div>
    </div>
</div>


<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<!-- Datatable JS CDN-->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script type="text/javascript">
    /*$(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
    $(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });*/
    $(document).ready(function () {
        $('#table').DataTable();
    } );
</script>
</body>
</html>